@model RestaurantAspCore3.Models.Category

@{
    ViewData["Title"] = "Details Category";
}

<br />
<br />
<br />

<div class="row">
    <div class="col-12">
        <h4 class="text-info text-center text-uppercase">Details Category</h4>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <div>
            <span>
                <strong>@Html.DisplayNameFor(model => model.Name)</strong>: @Html.DisplayFor(model => model.Name)
            </span>

            <br /><br />
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-outline-success" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

